body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.form-section {
    display: none;
}

.form-section.active {
    display: block;
}

label {
    display: block;
    margin-bottom: 2%;
}

/* CSS to initially hide text areas */
textarea {
    display: none;
}


input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.column-container {
    text-align: center;
}

.column {
    display: inline-block;
    width: 40%;
    margin: 1%;
    box-sizing: border-box; /* Add this line */
}

.radio-group {
    margin-bottom: 1vw;
    display: flex;
}

.radio-group label {
    margin-right: 1vw;
    margin-left: 1vw;
}

.radio-group-heading {
    font-weight: bold;
    margin-right: 1vw;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h2 {
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
